name: Deploy React demo to gh-pages branch

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./templates/react
          publish_branch: gh-pages
          allow_empty_commit: true
          path: templates/react
